Repository HaloSpaceStation/HaloSpaceStation13, pull requests merged in 2024-05, with the labels that each got.

#3553 The Alone Random's Donator Gear
  code/modules/halo/clothing/donor_unsc.dm
  code/modules/halo/clothing/spartan_armour.dmi
Labels: Donor

#3554 Marine Sergeant Hats
  code/modules/halo/clothing/marine.dm
  code/modules/halo/clothing/marine.dmi
  code/modules/halo/clothing/marine_items.dmi
  code/modules/halo/unsc/jobs/marines_outfits.dm
Labels: spriting

#3555 Thot'Lottee Donor Gear
  code/modules/halo/clothing/donor_covenant.dm
  code/modules/halo/covenant/species/sangheili/Sangheili_Combat_Harness.dmi
Labels: Donor

#3556 Experimental combat changes
  code/__defines/chemistry.dm
  code/__defines/suppression.dm
  code/game/gamemodes/cult/runes.dm
  code/modules/halo/chemicals/medicine.dm
  code/modules/halo/factions/npc_factions/gear/tallista_spice.dm
  code/modules/halo/misc/suppression.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
Labels: enhancement/QOL, Balancing, Experimental
